.admin-template {
    .sidebar {
        .nav-item {
            cursor: pointer;
            border-radius: 0.25rem;
            display: flex; 
            padding-top: 0.5rem;
            padding-bottom: 0.5rem; 
            padding-left: 1rem;
            padding-right: 1rem; 
            gap: 0.75rem; 
            justify-content: flex-start; 
            align-items: center; 
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 300ms; 
            &:hover
             {
                background-color: rgba(255,255,255,.9);
                color: #333333;
            }
            &.active {
                background-color: $color-primary;
                color: $color-white;
            }
        }
        .submenu {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in-out;
            padding-left: 1rem;
            &.show {
                max-height: 15rem;
            }
            & > li:first-child {
                margin-top: 8px;
            }
            & > li:last-child {
                margin-bottom: 8px;
            }
        }
    }
    
}