.text-highlight-primary {
  color: $color-primary;
}

.underline-primary {
  text-decoration: underline;
  text-decoration-color: $color-primary;
}

.underline-secondary {
  text-decoration: underline;
  text-decoration-color: $color-secondary;
}

.article-card {
  display: inline-block;
  .article-card-thumb-border {
    position: absolute;
    z-index: 1;
    top: -12px;
    bottom: -12px;
    left: 8px;
    right: 8px;
    overflow: hidden;
  }
}

.featured-article-card {
  display: inline-block;
  .featured-article-card-border {
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 8px;
    right: 0;
    overflow: hidden;
  }
}

.category-card {
  color: $color-white;
  a {
    position: relative;
    overflow: hidden;
    &:hover {
      color: $color-white;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -12px;
      right: -12px;
      width: 24px;
      height: 24px;
      transform: rotate(45deg);
      background: $color-bg-default;
      transition: all 0.3s ease;
    }
    &:hover::after {
      top: -28x;
      right: -28px;
      transition: all 0.3s ease;
    }
  }
}

.article-content {
  max-width: 1080px;
  margin: 60px auto 0;
  p,
  div,
  li {
    margin: 20px 0;
    font-size: 18px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 24px 0;
    font-weight: 700;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem
  }
  h4 {
    font-size: 1.5rem
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }

  .text-center img {
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 32px;
  }
}

@media screen and (max-width: 767px) {
  .article-content {
    margin-top: 40px;
    p,
    div,
    li {
      margin: 16px 0;
      font-size: 16px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 20px 0 0;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.25rem
    }
    h4 {
      font-size: 1.125rem
    }
    h5 {
      font-size: 1rem;
    }
    h6 {
      font-size: 1rem;
    }

    .text-center img {
      margin-top: 24px;
    }
  }
}
