@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  height: 100%;
  line-height: 1.5;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: $color-bg-default;
  color: $color-white;
  overflow: hidden;
  box-sizing: border-box;
}

body.admin-template {
  background: #ffffff;
  color: #333333;
}

::selection {
  background: $color-secondary;
  color: $color-white;
}

::-moz-selection {
  background: $color-secondary;
  color: $color-white;
}

:focus-visible {
  outline: none;
}

a {
  transition: all 0.3s;
  &:hover,
  &.active {
    color: $color-primary;
  }
}

input[type='checkbox'] {
  accent-color: $color-primary;
}

.custom-scrollbar::-webkit-scrollbar,
body::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgb(71 85 105/1);
  border-radius: 0.25rem;
}

.custom-scrollbar::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: transparent;
}

#nprogress {
  .bar {
    background: $color-primary;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }

  .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    opacity: 1;
  }
  pointer-events: none;
}
