$color-primary: #38BDF8;
$color-secondary: #EC4899;
$color-third: #3B82F6;

$color-text-default: #94A3B8;
$color-text-primary: #E2E8F0;
$color-text-dark: #333333;
$color-bg-default: #000913;
$color-bg-hover: #161f32;

$color-white: #ffffff;
$color-black: #000000;
$color-success: #03a66d;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #cf304a;
